<section class ="contacts">
  <div class="container">
    <h2 class="all__contact_title">
      Skontaktuj się z nami
    </h2>
  </div>
  <ul class="contact_list">
    <li class="contact_items">
      <div class="contact_items__content">
        <%= image_tag 'telegram.svg', style:"width: 80px; height: 80px", class: 'contacts__item_img', alt: 'Skontaktuj się z nami przez Telegram' %>
        <h3 class=contact__item_title>
          Skontaktuj się z nami przez Telegram
        </h3>
      </div>
    </li>
    <li class="contact_items">
      <div class="contact_items__content">
        <%= image_tag 'insta.png', style:"width: 80px; height: 80px", class: 'contacts__item_img', alt: 'Skontaktuj się z nami przez Instagram' %>
        <h3 class=contact__item_title>
          Skontaktuj się z nami przez Instagram
        </h3>
      </div>
    </li>
    <li class="contact_items">
      <div class="contact_items__content">
        <%= image_tag 'mail.png', style:"width: 80px; height: 80px", class: 'contacts__item_img', alt: 'Skontaktuj się z nami przez Gmail' %>
        <h3 class=contact__item_title>
          Napisz nam na Poczte
        </h3>
      </div>
    </li>
  </ul>
</section>