<section class ="contacts">
  <div class="container">
    <h1 class="all__contact_title">
      Czekamy na kontakt od ciebie 
    </h1>
    <ul class="contact_list">
      <li class="contact_item__first">
        <div class="contact_items__content">
          <%= image_tag 'telegram.svg', style:"width: 80px; height: 80px", class: 'contacts__item_img', alt: 'Skontaktuj się z nami przez Telegram' %>
          <h3 class=contact__item_title>
            Skontaktuj się z nami przez Telegram
          </h3>
        </div>
      </li>
      <li class="contact_item__second">
        <div class="contact_items__content">
          <%= image_tag 'insta.png', style:"width: 80px; height: 80px", class: 'contacts__item_img', alt: 'Skontaktuj się z nami przez Instagram' %>
          <h3 class=contact__item_title>
            Skontaktuj się z nami przez Instagram
          </h3>
        </div>
      </li>
      <li class="contact_item__third">
        <div class="contact_items__content">
          <%= image_tag 'mailnew.png', style:"width: 80px; height: 80px", class: 'contacts__item_img', alt: 'Skontaktuj się z nami przez Gmail' %>
          <h3 class=contact__item_title>
            Napisz nam na Poczte
          </h3>
        </div>
      </li>
    </ul>
    <%= render 'blog' %>
  </div>
</section>
