<div class="bgc">
  <section class="first_section">
    <div class="container">
      <h1 class="main_title">
        ZACZNIJ TRENOWAĆ Z NAMI
      </h1>
    </div>
    <div class="container">
      <div class="main_photos">
        <%= image_tag 'photo1.jpg', class: 'main_photo1', alt: 'box page 1' %>
        <%= image_tag 'photo2.jpg', class: 'main_photo2', alt: 'box page 2' %>
      </div>
    </div>  
  </section>
  <section class="container">
    <h1 class="main_title">
      Co to jest boks klaszyczny i po co mi treningi?
    </h1>
      <div class="about__boxing_all">
        <p class="about_boxing__title">
          I.Czym jest klasyczny boks?
        </p>
        <p class="about_boxing">
          Klasyczny boks to dyscyplina sportowa, w której dwóch zawodników rywalizuje na ringu,
          używając pięści chronionych rękawicami bokserskimi. Walka odbywa się w seriach rund,
          a celem jest zdobycie punktów lub znokautowanie przeciwnika.
        </p>
        <p class="about_boxing__title">
          II.Dlaczego boks pomaga poprawić kondycję fizyczną?
        </p>
        <p class="about_boxing">
          Boks angażuje wiele grup mięśniowych i znacząco poprawia ogólną kondycję fizyczną.
          Intensywne treningi cardio, siłowe i wytrzymałościowe pomagają spalić kalorie,
          wzmocnić mięśnie i poprawić wydolność organizmu.
        </p>
        <p class="about_boxing__title">
          III.W jaki sposób boks wpływa na rozwój umiejętności samoobrony?
        </p>
        <p class="about_boxing">
          Trening bokserski uczy technik obronnych, zwiększa refleks i szybkość reakcji,
          co może być przydatne w sytuacjach wymagających samoobrony.
          Uczestnicy uczą się, jak unikać ciosów oraz jak skutecznie bronić się przed zagrożeniem.
        </p>
        <p class="about_boxing__title">
          IV.Czy boks może pomóc w radzeniu sobie ze stresem?
        </p>
        <p class="about_boxing">
          Tak, boks jest doskonałym sposobem na rozładowanie napięcia i stresu.
          Intensywny trening pozwala na wyrzucenie negatywnej energii,
          a jednocześnie skupienie się na technikach i strategii pomaga oderwać się od codziennych problemów.
        </p>
        <p class="about_boxing__title">
          V.Jak boks wpływa na rozwój dyscypliny i samodyscypliny?
        </p>
        <p class="about_boxing">
          Regularne treningi bokserskie uczą dyscypliny i samodyscypliny.
          Zawodnicy muszą być konsekwentni w swoich działaniach, zarówno podczas treningów,
          jak i w diecie oraz odpoczynku, aby osiągnąć postępy i sukcesy w tym sporcie.
        </p>
        <p class="about_boxing__title">
          VI.Czy boks rozwija pewność siebie?
        </p>
        <p class="about_boxing">
          Boks wzmacnia poczucie pewności siebie, ucząc zawodników,
          jak radzić sobie w trudnych sytuacjach. Regularne treningi i 
          opanowanie nowych umiejętności przyczyniają się do budowania silnej,
          pozytywnej samooceny.
        </p>
      </div>  
  </section>
</div>  
