.contacts {
  padding-top: 10%;
  padding-bottom: 100px;
}

.all__contact_title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 600;
}

.contact_list {
  gap: 40px;
  display: grid;
  grid-template-rows: repeat(3,1fr);
}