.contacts {
  padding-top: 7%;
  padding-bottom: 100px;
  background: linear-gradient(to top, rgb(241, 240, 245), rgb(241, 240, 245) 50%, rgb(250, 249, 215)100%);
}

.all__contact_title {
  text-align: left;
  margin-bottom: 140px;
  font-size: 35px;
  font-weight: 700;
  border-bottom: 2px solid #E9BF2F;

}

.contact_list {
  gap: 40px;
  display: grid;
  grid-template-rows: repeat(3,1fr);
}

.contact_items__content {
  display: flex;
  align-items: center;
  gap: 150px;
  border: 2px solid #151515;
  border-width: 3px;
  padding: 20px 0 20px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease ;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

.contact__item_title {
  font-size: 25px;
}

.contact_item__first:hover {
  background-color: #bff1f8;
  border-radius: 20px;
  transform: scale(1.1);
  transition: 0.7s;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.7);
}

.contact_item__second:hover {
  background-color: #e9aaf1;
  border-radius: 20px;
  transform: scale(1.1);
  transition: 0.7s;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.7);
}

.contact_item__third:hover {
  background-color: #fcae6a;
  border-radius: 20px;
  transform: scale(1.1);
  transition: 0.7s;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.7);
}

