.footer {
  background-color: #000;
  padding: 50px 0 20px;
  color: white;
}

.footer-inner {

}

.footer-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  border-bottom: 1px solid #E9BF2F;
}

.footer_menu_list {
  min-width: 250px;
  padding-bottom: 20px;
  line-height: 1.7;
}

.footer__item {
}

.footer__menu_title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  max-width: 100px;
}

.footer-text {
  max-width: 800px;
  margin: 0 auto 30px;
  text-align: center;
}

.app__item-img {
  width:35px;
  height: 35px;
  
}

.app__item-img:hover {
  transform: scale(1.7);
  transition: 0.5s;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6)
}

.footer__menu_link {
  color: #E9BF2F;
  border-bottom: 1px solid #444444; 
}

.footer__menu_link:hover {
  color: white;
  transition: 0.4s;
  cursor: pointer;
}