.footer {
  background-color: #000;
  padding: 50px 0 20px;
  color: white;
}

.footer-inner {

}

.footer-menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  border-bottom: 1px solid #E9BF2F;
}

.footer_menu_list {
min-width: 250px;
padding-bottom: 20px;
}

.footer__item {

}

.footer__menu_title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  max-width: 100px;
}

.footer-text {
  max-width: 800px;
  margin: 0 auto 30px;
  text-align: center;
}

.app__item-img {
  width:35px;
  height: 35px;
}