.header-inner {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex ;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 180px;
}

.nav__list-item {
  color:  #E9BF2F;
  font-weight: 700;
  font-size: 28px;
  font-style: italic;
  text-transform: uppercase;
}

.nav__list-link {

}

.navlink__list_link-login {

}

.header {
  background-color: #000;
}