.header-inner {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex ;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 120px;
}

.nav__list-item {
  color:  #E9BF2F;
  font-weight: 700;
  font-size: 22px;
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 3px solid #444444;
}

.nav__list-link {

}

.navlink__list_link-login {
border: 2px solid #444444;
border-radius: 10px;
color:#E9BF2F;
padding: 10px 30px;
font-weight: 700;
font-size: 20px;
}

.navlink__list_link-login:hover {
  transition: 0.4s;
  border: 2px solid #f74f4f;
  cursor: pointer;
}

.nav__list-item:hover {
  border-bottom: 3px solid #f74f4f;
  transition: 0.4s;
  cursor: pointer;
}

.header {
  background-color: #000;
}