.main_title {
  padding-top: 40px;
  padding-bottom: 30px;
  color: #E9BF2F;
  text-align: center;
  background-color: #444444 ;
  border-bottom: 2px solid #E9BF2F;
}



.main_title__boxing {
  border-top: 2px solid #E9BF2F;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #E9BF2F;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #444444 ;
}

.main_photo1 {
  width: 600px;
  height: 450px;
}

.main_photo2 {
  width: 600px;
  height: 450px;
}

.main_photos {
  display: flex ;
  justify-content: center;
  gap: 15px;
  padding-bottom: 50px;
  padding-top: 30px;
  background-color: #444444 ;
}

.bgc {
  background-color: #444444;
  padding-bottom: 30px;
}

.about_boxing {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #E9BF2F;
  font-weight: bold;
}

.about_boxing__title {
  display: flex;
  justify-content: start;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #f74f4f;
  border-top: 2px solid #E9BF2F;
  padding-left: 450px;
}

.about__boxing_all {
  background-color: #444444;
  border: 2px solid #E9BF2F;
}
